.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  color: '#fff';
}

ul {
    background: #fff;
    max-width: 720px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 60px;
    list-style: none;
    padding: 0;
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
    box-shadow:      0px 0px 4px 0px rgba(0,0,0,0.37);
}
ul li {
    width: 180px;
    height: 180px;
    line-height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

li:nth-child(1) {
    background-color: #1ABC9C;
}
li:nth-child(2) {
    background-color: #34495E;
}
li:nth-child(3) {
    background-color: #F39C12;
}
li:nth-child(4) {
    background-color: #9B59B6;
}
li:nth-child(5) {
    background-color: #3498DB;
}
li:nth-child(6) {
    background-color: #E74C3C;
}
li:nth-child(7) {
    background-color: #2ECC71;
}
li:nth-child(8) {
    background-color: #2C3E50;
}
li:nth-child(9) {
    background-color: #F1C40F;
}
li:nth-child(10) {
    background-color: #8E44AD;
}
li:nth-child(11) {
    background-color: #2980B9;
}
li:nth-child(12) {
    background-color: #E74C3C;
}
